<app-signupform></app-signupform>
<div class="row">
    <div class="col-sm-6 text-right pt-5">
        <img src="/assets/What-Is-Scribe-Image.png" class="align-middle m-5" height="300px" alt="">
    </div>
    <div class="col-sm-4">
        <h2 class="mx-5 my-5">What is Scribe?</h2>
        <h6 class="mx-5 my-1">
            Scribe is a thought sharing platform where you can share your thoughts and craziest ideas with world.
             You can also intract with other users by commenting on their posts.
            Create a free account and get stared.
            <br><br>
            Let's get started!
        </h6>
    </div>
</div>


        <footer class = "text-center pt-5 mt-5">
        <h4>Contact us</h4>
        <i class="fa fa-phone footer-link"> &nbsp; +91 9702891744</i>
        <a class="footer-link" href="https://www.linkedin.com/in/chetan-b-5aa977b1/">LinkedIn&nbsp;<i class="fa fa-linkedin"></i></a>
        <a class="footer-link" href="mailto:cbirmole@gmail.com">Mail  &nbsp;<i class="fa fa-envelope"></i></a> 
        <a class="footer-link" href="https://floating-plateau-78630.herokuapp.com/">Website <i class="fa fa-globe"></i></a>
        <br><br>
        <h6>© 2020 Chetan Birmole.</h6>
    </footer>
